body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 2px;
    font-size: 14px;
    color: #fff;
    background-color: #28a745;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: #16722b;
}

.btn-edit {
    background-color: #27ae60;
}

.btn-edit:hover {
    background-color: #138a44;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-delete:hover {
    background-color: #c0392b;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #28a745;
}

.back{
    display: inline-block;
    padding: 15px 25px;
    margin: 2px;
    font-size: 17px;
    color: #fff;
    background-color: red;
    text-decoration: none;
    border-radius: 4px;
}
.back:hover{
    background-color: rgb(199, 0, 0);
}